body{
    /*background-image: url('background3.jpg');*/
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 320px;
    border-radius: 10px 10px 10px 10px;
    background-color: #9df3f35e;
  }

#formulario{
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario label{
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(241, 238, 50);
}

#formulario input {
    width: 250px;
    height: 20px;
    background: rgba(129, 131, 124, 0.384);
    border-radius: 5px 5px 5px 5px;
    border: 1px solid white;
    border-color: none;
    padding: 5px;
    margin-bottom: 10px;
}

#formulario button{
    color: white;
    margin-top: 10px;
    width: 200px;
    background-color:#53A548;
    border-radius: 5px 5px 5px 5px; 
    padding: 10px;
    border: none;
    text-transform: uppercase;
}

.card-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background: url("https://placehold.it/500") no-repeat center center / cover;
}

p.golden{
    color: rgba(248, 236, 66, 0.959);
    font-size: 22px;
    font-weight: bold;
}

h4.casaOuro{
    font-size: 22px;
    margin: 10px;
    margin-bottom: 0;
    color: #dcdc00;
}
 
.circles li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 242, 66, 0.829);
    display: block;
    position: absolute;
    bottom: -20px;
    animation: constelar 2s infinite alternate;
    z-index:-1;
}
/* Efeito "Estrelado" */
@keyframes constelar { 
    /* 'from' é o inicio da animação */
    from {
        opacity: 0;
        transform: translateY(0);
    }
    /* Há a possibilidade de definir valores entre o 'from' e o 'to' */
    25% {
        filter: brightness(100%);
    }
    50% {
        opacity: 1;
        filter: brightness(200%);
    }
    /* 'to' é o fim da animação */
    to {
        opacity: 0;
        transform: translateY(-800px) rotate(960deg);
    }
}